{
  "extends": "airbnb-base",
  "rules": {
    "no-underscore-dangle": "off",
    "class-methods-use-this": "off",
    "no-undef": "off",
    "no-console": "off",
    "max-len": "off",
    "no-param-reassign": "off"
  },
  "globals": {
    "window": true,
    "document": true,
    "require": true,
    "fetch": true
  }
}