.search__button {
  position: absolute;
  top: 0;
  right: 0;
  border-radius: 100px;
  width: 168px;
  height: 100%;
  background-color: #2F71E5;
  border: none;
  color: #fff;
  font-family: 'Roboto', 'Roboto Slab', Arial, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.search__button:hover {
  background-color: #347EFF;
}

.search__button:active {
  background-color: #2A65CC;
}

@media screen and (max-width: 980px) {
  .search__button {
    width: 160px;
  }
}

@media screen and (max-width: 445px) {
  .search__button {
    height: 56px;
    position: relative;
    width: 100%;
  }
}