.footer__navigation {
  display: flex;
  align-items: center;
}

@media screen and (max-width: 780px) {
  .footer__navigation {
    align-items: flex-start;
    justify-content: space-between;
    margin: 0 0 38px;
  }
}