<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="news, search news, news explorer, news searching, поиск новостей, найти новости">
  <meta name="description" content="Сервис поиска и сохранения новостей">
  <meta name="author" content="Sergey Ponomarenko">
  <title>News Explorer</title>
  <link rel="icon" href="<%=require('../images/favicon.png').default%>">
  <link rel="shortcut icon" href="<%=require('../images/favicon.png').default%>" type="image/png">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>

<body>
  <div class="root">
    <header class="header header_dark">
      <div class="header__container header__container_dark">
        <p class="logo logo_dark">NewsExplorer</p>
        <nav class="header__navigation">
          <ul class="header__list">
            <li class="header__item header__item_main">
              <a href="./" class="link header__link header__link_dark">Главная</a>
            </li>
            <li class="header__item header__item_underlined-dark header__item_saved">
              <a href="./articles.html" class="link header__link header__link_dark">Сохранённые статьи</a>
            </li>
          </ul>
          <button class="button header__button header__button_auth header__button_hidden"></button>
          <button class="button header__button header__button_name header__button_dark">
            <span class="button__user button__user_dark"></span>
            <i class="button__icon button__icon_dark"></i>
          </button>
        </nav>
        <button class="button header__button-mobile header__button-mobile_dark"></button>
      </div>
    </header>

    <main class="content">

      <section class="stat">
        <div class="stat__container">
          <p class="stat__description">Сохранённые статьи</p>
          <h1 class="stat__title"></h1>
          <p class="stat__info">По ключевым словам:
            <span class="stat__span"></span>
          </p>
        </div>
      </section>

      <section class="collection">
        <div class="collection__container">
          <div class="cards-container">
          </div>
        </div>
      </section>
    </main>

    <footer class="footer">
      <div class="footer__container">
        <p class="footer__author">© 2020 Supersite, Powered by News API</p>
        <div class="footer__navigation">
          <ul class="footer__navigation-list">
            <li class="footer__item">
              <a class="link footer__link-item" href="./index.html">Главная</a>
            </li>
            <li class="footer__item">
              <a class="link footer__link-item" href="https://praktikum.yandex.ru" target="_blank">Яндекс.Практикум</a>
            </li>
          </ul>
          <div class="footer__social">
            <a href="https://github.com/PonomarenkoSA" class="link footer__social-icon" target="_blank">
              <img src="<%=require('../images/github.svg').default%>" alt="github">
            </a>
            <a href="https://www.facebook.com" class="link footer__social-icon" target="_blank">
              <img src="<%=require('../images/fb.svg').default%>" alt="fb">
            </a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Popup с мобильным меню. Чтобы активировать нужно добавить класс popup_is-opened-->
    <div class="popup popup_menu-mobile">
      <div class="popup__content-mobile">
        <img src="<%=require('../images/close.svg').default%>" alt="Закрыть" class="popup__close-mobile">
        <p class="logo logo_white popup__logo">NewsExplorer</p>
          <nav class="popup__navigation-mobile">
            <ul class="popup__list-mobile">
              <li class="popup__item-mobile">
                <a href="./index.html" class="link popup__link-mobile">Главная</a>
              </li>
              <li class="popup__item-mobile popup__item-mobile_saved">
                <a href="./articles.html" class="link popup__link-mobile ">Сохранённые статьи</a>
              </li>
            </ul>
            <button class="button popup__button-mobile popup__button-mobile_auth">Авторизоваться</button>
            <button class="button popup__button-mobile popup__button-mobile_name">
              <span class="popup__user-mobile"></span>
              <i class="popup__icon-mobile"></i>
            </button>
          </nav>
      </div>
    </div>

  </div>
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>
</html>