<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="keywords" content="news, search news, news explorer, news searching, поиск новостей, найти новости">
  <meta name="description" content="Сервис поиска и сохранения новостей">
  <meta name="author" content="Sergey Ponomarenko">
  <title>News Explorer</title>
  <link rel="icon" type="image/png" href="<%=require('../images/favicon.png').default%>">
  <link rel="shortcut icon" href="<%=require('../images/favicon.png').default%>" type="image/png">
  <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>

<body>
  <div class="root">
    <div class="search-section">
      <header class="header header_white">
        <div class="header__container header__container_white">
          <p class="logo logo_white">NewsExplorer</p>
          <nav class="header__navigation">
            <ul class="header__list">
              <li class="header__item header__item_underlined-white header__item_main">
                <a href="./index.html" class="link header__link header__link_white">Главная</a>
              </li>
              <!-- Чтобы убрать ссылку на страницу "Сохраненные статьи" нужно добавить в элемент li класс header__item_hidden -->
              <li class="header__item header__item_saved header__item_hidden">
                <a href="./articles.html" class="link header__link header__link_white">Сохранённые статьи</a>
              </li>
            </ul>
            <!-- Чтобы деактивировать кнопку нужно добавить header__button_hidden -->
            <button class="button header__button header__button_auth">Авторизоваться</button>
            <!-- Чтобы активировать кнопку с именем пользователя нужно удалить header__button_hidden -->
            <button class="button header__button header__button_name header__button_white header__button_hidden">
              <span class="button__user"></span>
              <i class="button__icon button__icon_white"></i>
            </button>
          </nav>
          <button class="button header__button-mobile header__button-mobile_white"></button>
        </div>
      </header>
      <div class="search">
        <h1 class="search__title">Что творится в мире?</h1>
        <h2 class="search__description">Находите самые свежие статьи на любую тему и сохраняйте в своём личном кабинете.
        </h2>
        <form class="search__form" name="search" novalidate>
          <input type="text" name="search-input" class="search__input" placeholder="Введите тему новости" pattern="^[A-Za-zА-Яа-я0-9]+.*"
            required>
          <button type="submit" class="button search__button">Искать</button>
        </form>
      </div>
    </div>

    <main class="content">

      <section class="search-container">
        <div class="search-status search-status_preloader">
          <i class="circle-preloader"></i>
          <p class="search-status__text">Идёт поиск новостей...</p>
        </div>
        <div class="search-status search-status_not-found">
          <img src="<%=require('../images/not-found.svg').default%>" class="search-status__not-found-icon"
            alt="не найдено">
          <p class="search-status__title">Ничего не найдено</p>
          <p class="search-status__text">К сожалению по вашему запросу ничего не найдено.</p>
        </div>
        <div class="search-status search-status_error">
          <img src="<%=require('../images/network-dis.png').default%>" class="search-status__error-icon"
            alt="не найдено">
          <p class="search-status__title">Во время запроса произошла ошибка</p>
          <p class="search-status__text">Возможно, проблема с соединением или сервер недоступен.
            Подождите немного и попробуйте ещё раз</p>
        </div>

        <div class="search-result">
          <h2 class="search-result__title">Результаты поиска</h2>
          <div class="cards-container">



          </div>
          <button class="button search-result__button">Показать еще</button>
        </div>
      </section>

      <section class="about">
        <div class="author">
          <picture>
            <source srcset="<%=require('../images/avatar-mobile.jpg').default%>" media="(max-width: 500px)">
            <source srcset="<%=require('../images/avatar-tab.jpg').default%>" media="(max-width: 980px)">
            <img src="<%=require('../images/avatar-pc.jpg').default%>" alt="Автор" class="author__photo">
          </picture>
          <div class="author__text-container">
            <h3 class="author__title">Об авторе</h3>
            <p class="author__text">Это блок с описанием автора проекта.
              Здесь следует указать, как вас зовут, чем вы занимаетесь, какими технологиями разработки владеете.</p>
            <p class="author__text">Также можно рассказать о процессе обучения в Практикуме, чему вы тут научились, и
              чем можете помочь потенциальным заказчикам.</p>
          </div>
        </div>
      </section>

    </main>

    <footer class="footer">
      <div class="footer__container">
        <p class="footer__author">© 2020 Supersite, Powered by News API</p>
        <div class="footer__navigation">
          <ul class="footer__navigation-list">
            <li class="footer__item">
              <a class="link footer__link-item" href="./index.html">Главная</a>
            </li>
            <li class="footer__item">
              <a class="link footer__link-item" href="https://praktikum.yandex.ru" target="_blank">Яндекс.Практикум</a>
            </li>
          </ul>
          <div class="footer__social">
            <a href="https://github.com/PonomarenkoSA" class="link footer__social-icon" target="_blank">
              <img src="<%=require('../images/github.svg').default%>" alt="github">
            </a>
            <a href="https://www.facebook.com" class="link footer__social-icon" target="_blank">
              <img src="<%=require('../images/fb.svg').default%>" alt="fb">
            </a>
          </div>
        </div>
      </div>
    </footer>

    <!-- Popup с авторизацией. Чтобы активировать нужно добавить класс popup_is-opened-->
    <div class="popup popup_signin">
      <div class="popup__content">
        <picture>
          <source srcset="<%=require('../images/close-mobile.svg').default%>" media="(max-width: 500px)">
          <img src="<%=require('../images/close.svg').default%>" alt="Закрыть" class="popup__close">
        </picture>
        <h3 class="popup__title">Вход</h3>
        <form class="popup__form" name="signin" novalidate>
          <div class="popup__container">
            <label for="email-signin" class="popup__label">Email</label>
            <input type="email" id="email-signin" name="email" class="popup__input" placeholder="Введите почту" required
              pattern="([A-Za-z\d]+([_.-][A-Za-z\d]+)*)@([A-Za-z\d]+(-[A-Za-z\d]+)?\.)+[A-Za-z]{2,}">
            <span class="popup__error popup__error_input"></span>
          </div>
          <div class="popup__container">
            <label for="password-signin" class="popup__label">Пароль</label>
            <input type="password" id="password-signin" name="password" class="popup__input"
              placeholder="Введите пароль" required minlength="8">
            <span class="popup__error popup__error_input"></span>
          </div>
          <div class="popup__container popup__container_button">
            <span class="popup__error popup__error_button"></span>
            <!-- Чтобы сделать неактивной кнопку формы нужно удалить класс popup__button_active -->
            <button type="submit" class="button popup__button popup__button_signin">Войти</button>
          </div>
        </form>
        <p class="popup__text">или <a class="link popup__link popup__link_signin">Зарегистрироваться</a></p>
      </div>
    </div>

    <!-- Popup с регистрацией. Чтобы активировать нужно добавить класс popup_is-opened-->
    <div class="popup popup_signup">
      <div class="popup__content">
        <picture>
          <source srcset="<%=require('../images/close-mobile.svg').default%>" media="(max-width: 500px)">
          <img src="<%=require('../images/close.svg').default%>" alt="Закрыть" class="popup__close">
        </picture>
        <h3 class="popup__title">Регистрация</h3>
        <form class="popup__form" name="signup" novalidate>
          <div class="popup__container">
            <label for="email-signup" class="popup__label">Email</label>
            <input type="email" id="email-signup" name="email" class="popup__input" placeholder="Введите почту" required
              pattern="([A-Za-z\d]+([_.-][A-Za-z\d]+)*)@([A-Za-z\d]+(-[A-Za-z\d]+)?\.)+[A-Za-z]{2,}">
            <span class="popup__error popup__error_input"></span>
          </div>
          <div class="popup__container">
            <label for="password-signup" class="popup__label">Пароль</label>
            <input type="password" id="password-signup" name="password" class="popup__input"
              placeholder="Введите пароль" required minlength="8">
            <span class="popup__error popup__error_input"></span>
          </div>
          <div class="popup__container">
            <label for="name-signup" class="popup__label">Имя</label>
            <input type="text" id="name-signup" name="name" class="popup__input" placeholder="Введите своё имя" required
              minlength="2" maxlength="32" pattern="[A-Za-zА-Яа-я]+">
            <span class="popup__error popup__error_input"></span>
          </div>
          <div class="popup__container popup__container_button">
            <span class="popup__error popup__error_button"></span>
            <button type="submit" class="button popup__button popup__button_signup">Зарегистрироваться</button>
          </div>
        </form>
        <p class="popup__text">или <a class="link popup__link popup__link_signup">Войти</a></p>
      </div>
    </div>

    <!-- Popup с сообщением об успешной регистрации. Чтобы активировать нужно добавить класс popup_is-opened-->
    <div class="popup popup_success">
      <div class="popup__content popup__content_success">
        <picture>
          <source srcset="<%=require('../images/close-mobile.svg').default%>" media="(max-width: 500px)">
          <img src="<%=require('../images/close.svg').default%>" alt="Закрыть" class="popup__close">
        </picture>
        <h3 class="popup__title popup__title_success">Пользователь успешно зарегистрирован!</h3>
        <a class="link popup__link popup__link_success">Войти</a>
      </div>
    </div>

    <!-- Popup с мобильным меню. Чтобы активировать нужно добавить класс popup_is-opened-->
    <div class="popup popup_menu-mobile">
      <div class="popup__content-mobile">
        <img src="<%=require('../images/close.svg').default%>" alt="Закрыть" class="popup__close-mobile">
        <p class="logo logo_white popup__logo">NewsExplorer</p>
        <nav class="popup__navigation-mobile">
          <ul class="popup__list-mobile">
            <li class="popup__item-mobile">
              <a href="./index.html" class="link popup__link-mobile">Главная</a>
            </li>
            <!-- Чтобы убрать ссылку на страницу "Сохраненные статьи" нужно добавить в элемент li класс popup__item-mobile_hidden -->
            <li class="popup__item-mobile popup__item-mobile_hidden">
              <a href="./articles.html" class="link popup__link-mobile">Сохранённые статьи</a>
            </li>
          </ul>
          <!-- Чтобы деактивировать кнопку нужно добавить popup__button-mobile_hidden -->
          <button class="button popup__button-mobile">Авторизоваться</button>
          <!-- Чтобы активировать кнопку нужно убрать popup__button-mobile_hidden -->
          <button class="button popup__button-mobile popup__button-mobile_hidden">
            <span class="popup__user-mobile">Грета</span>
            <i class="popup__icon-mobile"></i>
          </button>
        </nav>
      </div>
    </div>

  </div>
  <script type="module" src="<%= htmlWebpackPlugin.files.js %>"></script>
</body>

</html>