@import url(./_white/header__button-mobile_white.css);
@import url(./_dark/header__button-mobile_dark.css);

.header__button-mobile {
  display: none;
  width: 30px;
  height: 30px;
  border: none;
  background: none;
  padding: 0;
  background-size: cover;
}

@media screen and (max-width:745px) {
  .header__button-mobile {
    display: block;
  }
}

@media screen and (max-width:445px) {
  .header__button-mobile {
    width: 24px;
    height: 24px;
  }
}