.footer__navigation-list {
  display: flex;
  list-style-type: none;
  padding: 0;
  margin: 0 45px 0 0;
  height: 100%;
}

@media screen and (max-width: 980px) {
  .footer__navigation-list {
    margin: 0 24px 0 0;
  }
}

@media screen and (max-width: 500px) {
  .footer__navigation-list {
    display: block;
    margin: 0;
  }
}