.header__button_name {
  height: 48px;
  padding: 0px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 980px) {
  .header__button_name {
    height: 40px;
    padding: 0px 15px;
  }
}