.stat__info {
  margin: 0;
  font-family: 'Roboto', 'Roboto Slab', Arial, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  color: #1A1B22;
}

@media screen and (max-width:980px) {
  .stat__info {
    font-size: 14px;
  }
}

@media screen and (max-width:500px) {
  .stat__info {
    font-size: 18px;
  }
}