@import url(./__container/header__container.css);
@import url(./__navigation/header__navigation.css);
@import url(./__list/header__list.css);
@import url(./__button/header__button.css);
@import url(./__button-mobile/header__button-mobile.css);
@import url(./__link/header__link.css);
@import url(./__item/header__item.css);
@import url(./_white/header_white.css);
@import url(./_dark/header_dark.css);



.header {
  min-height: 80px;
}

@media screen and (max-width: 980px) {
  .header {
    min-height: 66px;
  }
}

@media screen and (max-width: 745px) {
  .header {
    min-height: 56px;
  }
}